<div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>You're logged in with JWT!!</p>
    <div>
        Users Movies:
        <ul *ngIf="this.usersMovies">
            <div *ngFor="let movies of this.usersMovies.data">
                <li>
                    {{movies.moviename}} 
                </li>
                <li>
                    {{movies.movielength}} 
                </li>
                <img src="{{movies.imageurl}}">
            </div>
        </ul>
    </div>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>
Back to top